<main>
    <section class="contacto">
      <h2>Contacto</h2>
      <p>Para cualquier duda o consulta, puedes contactarnos a través de los siguientes medios:</p>
      <ul>
        <li><strong>Teléfono:</strong> 644265006</li>
        <li><strong>Correo electrónico:</strong> TeatroSinFiltros@gmail.com</li>
        <li><strong>Dirección:</strong> Calle Aventura Numero 5</li>
      </ul>
      <iframe width="425" height="350" 
      src="https://www.openstreetmap.org/export/embed.html?bbox=-4.024437367916108%2C39.856793167319445%2C-4.02089685201645%2C39.858555643666584&amp;layer=mapnik"
       style="border: 1px solid black">
      </iframe>
      <br/>
      <a href="https://www.openstreetmap.org/#map=19/39.85767/-4.02267" class="boton-mapa boton-openstreetmap" role="button" target="_blank">Ver el mapa más grande</a>

      <a href="https://maps.app.goo.gl/2asKNdPR2GSxHk9G8" class="boton-mapa boton-googlemaps" target="_blank">Ver en Google Maps</a>


    </section>
  </main>