<div class="container">
  <br>
    <h2>Reservas Teatrales</h2>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>ID Reserva</th>
          <th>Obra</th>
          <th>Sala</th>
          <th>Fecha y Hora</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of reservas">
          <td>{{ reserva.id_reservas_teatrales }}</td>
          <td>{{ reserva.obra }}</td>
          <td>{{ reserva.sala }}</td>
          <td>{{ reserva.fecha_hora | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="modificarReserva(reserva.id_reservas_teatrales)">Modificar</button>
            <button class="btn btn-danger btn-sm" (click)="eliminarReserva(reserva.id_reservas_teatrales)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
