<div class="container">
    <h2>Crear Reserva Teatral</h2>
    <div class="row">

        <div class="col-md-6">
            <form (ngSubmit)="modificarReserva()">
                <div class="form-group">
                    <label for="obra">Obra</label>
                    <select class="form-control" id="obra" [(ngModel)]="reserva.id_obra" name="id_obra" required>
                        <option value="" disabled selected>Seleccione una obra</option>
                        <option *ngFor="let obra of obras" [value]="obra.id">{{ obra.titulo }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sala">Sala</label>
                    <select class="form-control" id="sala" [(ngModel)]="salaSeleccionada" name="id_sala_funciones" (change)="cargarAsientosSala(salaSeleccionada!)" required>
                        <option *ngFor="let sala of salas" [value]="sala.id_sala">{{ sala.nombre_sala }}</option>
                    </select>          
                </div>
                <div class="form-group">
                    <label for="fechaHora">Fecha y Hora</label>
                    <input type="datetime-local" class="form-control" id="fechaHora" [(ngModel)]="reserva.fecha_hora" name="fecha_hora" required>
                </div>
                <div *ngIf="errorMensaje" class="alert alert-danger">
                    {{ errorMensaje }}
                  </div>
                <button type="submit" class="btn btn-success">Modificar Reserva</button>
            </form>
        </div>

        <div class="col-md-6">
            <div class="sala-container">
                <div class="screen"></div>
                <div *ngFor="let fila of asientos; let i = index" class="fila">
                    <div *ngFor="let asiento of fila" class="seat"
                        [ngClass]="{'selected': asiento.estado === 'seleccionado', 'occupied': asiento.estado === 'ocupado'}">
                        {{ asiento.columna }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
